//container for swiper instance
.swiper-container {
  position: relative;
  overflow: visible; //shows overflow at sides
  margin-left: auto; //centers the content
  margin-right: auto; //centers the content
}


//the active slide for slider
.swiper-slide-active {
  color: #fff; //text color of the active slide
  padding-right: 20px;
  padding-left: 20px;
}



//the slide picture
.swiper-slide img {
  width: 100%; //responsive width
  height: 100vh; //responsive height
  object-fit: cover; //covers the image element when picture has a different height
}

// Caption for slider picture
.caption {
    position: absolute;
  width: 100%;
  height: auto;
  z-index: 10; //makes the caption appear over the picture
  text-align: center; //align the text to the middle
  top: 90%; // pushes text to bottom of the picture
  font-size: 1.25vw; //responsive font 
  overflow: hidden; //hide overflowing element
}

//container for picture and caption
.picture {
    position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}


.indicator-container {
  margin-top: 3%;
  display: flex;
  width: 80%;
  height: 5px;

  margin-left: auto;
  margin-right: auto;
}

.indicator-col {
  height: 5px;
  width: 100%;
  background-color: lightgrey;
}

  /* Responsive Styles */

  @media screen and (max-width: 1280px) {
.swiper-slide-visible {
  opacity: 1;
  width: 100% !important;
  height: auto;
} 

  }

  @media screen and (max-width: 767px) {




  }

  @media screen and (max-width: 575px) {

.swiper-slide-visible {
  opacity: 1;
  width: 100% !important;
  height: 260px;
} 

//the slide picture
.swiper-slide img {
  width: 100%; //responsive width
  height: 260px; //responsive height
  object-fit: cover; //covers the image element when picture has a different height
}

  }