.header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 230px;
  padding-bottom: 50%;
}

h1 {
  font-size: 6vw;
  color: black;
  text-align: center;
  line-height: 8vw;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  display: block;
  position: relative;
  top: 100px;
}

.circle img {
  left: 13vw;
  width: 20vw;
  display: block;
  position: absolute;
  top: 16.1vh;
  z-index: -10;
}



.picture_1 {
  display: inline-block;
  max-height: 1150px;

  overflow: hidden;
  position: absolute;
  z-index: -10;
  top: 40.5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.picture_1 img {
  width: 100%;
  margin-top: -50px;
  margin-bottom: -50px;
}

.section {
  position: relative;
  top: 0;
}


  /* Responsive Styles */

  @media screen and (max-width: 1280px) {



.circle img {
  width: 200px;
  display: block;
  top: 0px;
  position: relative;
 margin-left: auto;
  margin-right: auto;
    left: 0px;
}
  }

  @media screen and (max-width: 767px) {



.circle img {
  width: 200px;
  display: block;
  top: 0px;
  position: relative;
 margin-left: auto;
  margin-right: auto;
    left: 0px;
}
  }

  @media screen and (max-width: 575px) {


.picture_1 {
  top: 425px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.header {
  margin-top: 50px;
  padding-bottom: 150px;
}
.circle img {
  width: 200px;
  display: block;
  top: 0px;
  position: relative;
 margin-left: auto;
  margin-right: auto;
    left: 0px;
}
  }