    <!-- section container -->
<div class="section_1">
  <!-- logo container -->
  <div class="logo">
    <!-- logo image element -->
    <img src="assets/pictures/frontpage/svg/grafikr_logo.svg" alt="logo">
  </div>
  <!-- circle container -->
  <div class="circle">
    <!-- logo image element -->
      <img src="assets/pictures/frontpage/svg/grafikr_circle.svg" alt="circle">
  </div>
<!-- container not currently in use -->
  <div class="container">
    <!-- picture container -->
  <div class="picture_1">
    <!-- logo image element -->
    <img src="assets/pictures/frontpage/grafikr_meeting.jpg" alt="meeting">
  </div>
  </div>
  <!-- header container -->
    <div class="header">
      <!-- header h1 -->
    <h1>PRISVINDENDE <br> E-COMMERCE <br> BUREAU</h1>
  </div>
</div>

