<!-- section container -->
<div class="section_2">
  <!-- flex box container -->
  <div class="flex_box">
    <!-- one of 2 colums -->
    <div class="column_1">
      <!-- picture container -->
      <div class="picture_2">
        <!-- image element -->
        <img
          src="assets/pictures/frontpage/grafikr_workaway.jpg"
          alt="workaway"
        />
      </div>
    </div>
    <!-- one of 2 colums -->
    <div class="column_2">
      <!-- container for description -->
      <div class="text-container">
        <!-- h3 element -->
        <h3>
          Vi skifter jævnligt de vante rammer ud med nye og inspirerende
          omgivelser
        </h3>
      </div>
    </div>
  </div>
</div>
