<div class="content">

  <div class="flex-container-row"> 
  <div class="fade-in" data-aos="fade-down"><app-section1></app-section1></div>

  </div>


  <div class="fade-in" data-aos="fade-right"><app-section2></app-section2></div>

  <div class="fade-in" data-aos="fade-right" data-aos-anchor="#trigger-right">
    <app-section3></app-section3>
    <div id="trigger-right"></div>
  </div>

  <div class="fade-in" data-aos="fade-up" data-aos-anchor="#trigger-video">
    <app-section4></app-section4>
    <div id="trigger-video"></div>
  </div>

  <div class="fade-in" data-aos="fade-up" data-aos-anchor="#trigger-slider">
        <div id="trigger-slider"></div>
    <app-section5></app-section5>

  </div>

  <div
    class="fade-in"
    data-aos="fade-right"
    data-aos-anchor="#trigger-employees"
  >
    <app-section6></app-section6>
  </div>
</div>
