<!-- section container -->
<div class="section_3"> 
    <!-- flex box container -->
    <div class="flex_box">
            <!-- one of 2 colums -->
        <div class="column_2">
            <!-- h3 element -->
            <h3>Der er altid liv på kontoret, med mulighed for fordybelse</h3>
        </div>
            <!-- one of 2 colums -->
        <div class="column_1">
            <!-- picture container -->
            <div class="picture_3">
                <!-- image element -->
                <img src="assets/pictures/frontpage/grafikr_speaker.jpg" alt="speaker">
            </div>
        </div>
    </div>
</div>
