
//container for picture
.picture_3 {
  display: inline-block;
  margin-left: 130px;
  overflow: hidden;
  z-index: -10;
  width: 100%;
  left: 0;
  right: 0;
}


//css rules for image element in picture container
.picture_3 img {
  width: 100%;
  margin: -20px 0px 0px -110px;
}

h3 {
    font-size: 2vw;
}

//used to be a flexbox, but changed rules at the last moment
.flex_box {
  margin-left: 10%;
}


//column for the box
.column_1 {
  width: 70%;
}


//container for the section
.section_3 {
  position: relative;
  top: 200px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
//column for the box
.column_2 {
  width: 30%;
}


//responsive styles
@media screen and (max-width: 575px) {
  .picture_3 {
    display: inline-block;
    margin-left: 0px;
    overflow: hidden;
    z-index: -10;
    width: 100%;
    left: 0;
    right: 0;
  }

  .picture_3 img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .section_3 {
    top: 100px;
  }

  .flex_box {
    margin-left: 0%;
  }
}

@media screen and (max-width: 1280px) {
      h3 {
  font-size: 20px;
  color: black;
  text-align: center;
}
}

@media screen and (max-width: 767px) {
    .flex_box {
        flex-wrap: wrap;
    }

    .column_1 {
        width: 100%;
    }

    .column_2 {
        width: 100%;
    }
}
