

//hover rule to display picture on hover
.flex-item:hover {
    .picture {
        display: block;
    }
}




//picture container
.picture {
    display: none;
    width: 200px;
    height: 100px;
    margin: auto;
}


//rules for picture element
.picture img{
    object-fit: fill;
    width: 100%;
}


//container for section
.section_6 {
    position: relative;
    margin-top: 10em;
text-align: center;
margin-bottom: 140px;
}


//fade in animation for picture
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}